* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fonte: "Montserrat", sans-serif;
  --branco: #ffffff;
  --cinza: #e2e2e2;
  --preto:#010101;
}

body {
  font-family: var(--fonte);
  background-color: var(--branco);
}
